<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        MUSTLE
      </a>
    </div>
  </div>
</nav>
<div class="container-fluid">
  {{outlet}}
</div>
